{% extends "::base.html.twig" %}

{% block title %}ZaZakretemGameBundle:Auctions:viewCars{% endblock %}

{% block body %}
<h1>Welcome to the Auctions:viewCars page</h1>
    <table>
    {% for car in cars %}
        <tr>{{ car.brand.name }} {{ car.model }}</tr>
    {% endfor %}
    </table>
{% endblock %}
